/* #battery.plugged {
  color: #00f0ff;
} */

#battery.charging:not(._100):not(._95) {
  animation-name: blink-charging;
  animation-duration: 3s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes blink-charging {
  to {
    background-color: @baterry-blink-background;
    color: @baterry-blink-color;
  }
}

#battery._5 {
  color: @baterry-_5-color;
  background-color: @baterry-_5-background;
  text-shadow: 0 0 10px @baterry-background-texshadow-color;
}
#battery.charging._5 {
  color: @baterry-_5-charging-color;
  background-color: @baterry-_5-charging-background;
  text-shadow: 0 0 10px @baterry-charging-_5-texshadow;
}
#battery._5:not(.charging) {
  color: @baterry-_5-blink-color;
  background-color: @baterry-_5-blink-background;
  animation-name: blink-_5;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes blink-_5 {
  to {
    background-color: @baterry-_5-blink-to-background;
    color: @baterry-_5-blink-to-color;
  }
}

#battery._10 {
  color: @baterry-_10-color;
  background-color: @baterry-_10-background;
  text-shadow: 0 0 10px @baterry-_10-texshadow;
}
#battery.charging._10 {
  color: @baterry-_10-charging-color;
  background-color: @baterry-_10-charging-background;
  text-shadow: 0 0 10px @baterry-_10-charging-texshadow;
}
#battery._10:not(.charging) {
  color: @baterry-_10-blink-color;
  background-color: @baterry-_10-blink-background;
  animation-name: blink-_10;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes blink-_10 {
  to {
    background-color: @baterry-_10-blink-to-background;
    color: @baterry-_10-blink-to-color;
  }
}

#battery._20 {
  color: @baterry-_20-color;
  background-color: @baterry-_20-background;
  text-shadow: 0 0 10px @baterry-_20-texshadow;
}
#battery.charging._20 {
  color: @baterry-_20-charging-color;
  background-color: @baterry-_20-charging-background;
  text-shadow: 0 0 10px @baterry-_20-charging-texshadow;
}
#battery._20:not(.charging) {
  color: @baterry-_20-blink-color;
  background-color: @baterry-_20-blink-background;
  animation-name: blink-_20;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes blink-_20 {
  to {
    background-color: @baterry-_20-blink-to-background;
    color: @baterry-_20-blink-to-color;
  }
}

#battery._30 {
  color: @baterry-_30-color;
  background-color: @baterry-_30-background;
  text-shadow: 0 0 10px @baterry-_30-texshadow;
}
#battery.charging._30 {
  color: @baterry-_30-charging-color;
    background-color: @baterry-_30-charging-background;
  text-shadow: 0 0 10px @baterry-_30-charging-texshadow;
}

#battery._40 {
  color: @baterry-_40-color;
  background-color: @baterry-_40-background;
  text-shadow: 0 0 10px @baterry-_40-texshadow;
}
#battery.charging._40 {
  color: @baterry-_40-charging-color;
  background-color: @baterry-_40-charging-background;
  text-shadow: 0 0 10px @baterry-_40-charging-texshadow;
}

#battery._50 {
  color: @baterry-_50-color;
  background-color: @baterry-_50-background;
  text-shadow: 0 0 10px @baterry-_50-texshadow;
}
#battery.charging._50 {
  color: @baterry-_50-charging-color;
    background-color: @baterry-_50-charging-background;
  text-shadow: 0 0 10px @baterry-_50-charging-texshadow;
}

#battery._60 {
  color: @baterry-_60-color;
  background-color: @baterry-_60-background;
  text-shadow: 0 0 10px @baterry-_60-texshadow;
}
#battery.charging._60 {
  color: @baterry-_60-charging-color;
  background-color: @baterry-_60-charging-background;
  text-shadow: 0 0 10px @baterry-_60-charging-texshadow;
}

#battery._70 {
  color: @baterry-_70-color;
  background-color: @baterry-_70-background;
  text-shadow: 0 0 10px @baterry-_70-texshadow;
}
#battery.charging._70 {
  color: @baterry-_70-charging-color;
    background-color: @baterry-_70-charging-background;
  text-shadow: 0 0 10px @baterry-_70-charging-texshadow;
}

#battery._80 {
  color: @baterry-_80-color;
  background-color: @baterry-_80-background;
  text-shadow: 0 0 10px @baterry-_80-texshadow;
}
#battery.charging._80 {
  color: @baterry-_80-charging-color;
    background-color: @baterry-_80-charging-background;
  text-shadow: 0 0 10px @baterry-_80-charging-texshadow;
}

#battery._90 {
  color: @baterry-_90-color;
  background-color: @baterry-_90-background;
  text-shadow: 0 0 10px @baterry-_90-texshadow;
}
#battery.charging._90 {
  color: @baterry-_90-charging-color;
    background-color: @baterry-_90-charging-background;
  text-shadow: 0 0 10px @baterry-_90-charging-texshadow;
}

#battery.charging._95 {
  color: @baterry-_95-charging-color;
  background-color: @baterry-_95-charging-background;
  text-shadow: 0 0 10px @baterry-_95-charging-texshadow;
}
#battery._95 {
  color: @baterry-_95-color;
  background-color: @baterry-_95-background;
  text-shadow: 0 0 10px @baterry-_95-texshadow;
  animation-name: blink-_95;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes blink-_95 {
  to {
    background-color: @baterry-_95-blink-background;
    color: @baterry-_95-blink-color;
  }
}

#battery.charging._100 {
  color: @baterry-_100-charging-color;
    background-color: @baterry-_100-charging-background;
  text-shadow: 0 0 10px @baterry-_100-charging-texshadow;
}
#battery._100 {
  color: @baterry-_100-color;
  background-color: @baterry-_100-background;
  text-shadow: 0 0 10px @baterry-_100-texshadow;
  animation-name: blink-_100;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes blink-_100 {
  to {
    background-color: @baterry-_100-blink-background;
    color: @baterry-_100-blink-color;
  }
}


