#custom-media {
  background-color: @custom-media-background;
  color: @custom-media-color;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: @custom-media-custom-spotify-background;
}

#custom-media.custom-vlc {
  background-color: @custom-media-custom-vlc-background;
}

#custom-notification {
  color: @custom-notification-color;
  text-shadow: 0 0 3px @custom-notification-textshadow;
  background-color: @custom-notification-background;
  padding: 0 15px;
}