#idle_inhibitor.activated {
    color: @idle-inhibitor-activated-color;
    text-shadow: 0 0 3px @idle-inhibitor-activated-textshadow;
    background-color: @idle-inhibitor-activated-background;
}

#idle_inhibitor.deactivated {
    color: @idle-inhibitor-deactivated-color;
    text-shadow: 0 0 3px @idle-inhibitor-deactivated-textshadow;
    background-color: @idle-inhibitor-deactivated-background;
}