.modules-left {
  background-color: @modules-left-background;
  font-family: "ProggyClean Nerd Font";
  font-size: 23px;
}

.modules-center {
  background-color: @modules-center-background;
  font-family: "Predator";
  font-size: 30px;
}

.modules-right {
  background-color: @modules-right-background;
  font-family: "ProggyClean Nerd Font";
  font-size: 25px;
}

.modules-right,
.modules-center,
.modules-left {
  border-radius: 15px;
}