#network.disconnected {
  color: @network-disconnected-color;
  text-shadow: 0 0 3px @network-disconnected-textshadow;
  background-color: @network-disconnected-background;
}

#network {
  color: @network-color;
  text-shadow: 0 0 3px @network-textshadow;
  background-color: @network-background;
}