#pulseaudio.low {
  color: @pulseaudio-low-color;
  background-color: @pulseaudio-low-background;
  text-shadow: 0 0 3px @pulseaudio-low-textshadow;
}

#pulseaudio.muted {
  color: @pulseaudio-muted-color;
  background-color: @pulseaudio-muted-background;
  text-shadow: 0 0 3px @pulseaudio-muted-textshadow;
}

#pulseaudio {
  color: @pulseaudio-color;
  background-color: @pulseaudio-background;
  text-shadow: 0 0 3px @pulseaudio-textshadow;
}