#temperature.critical {
  color: @temperature-critical-color;
  background-color: @temperature-critical-background;
  text-shadow: 0 0 3px @temperature-critical-textshadow;
}

#temperature {
  color: @temperature-color;
  text-shadow: 0 0 3px @temperature-textshadow;
  background-color: @temperature-background;
}