#workspaces button {
  color: @workspaces-button-color;
  text-shadow: 0 0 3px @workspaces-button-textshadow;
  background-color: @workspaces-button-background;
}

#workspaces button.active {
  color: @workspaces-button-active-color;
  text-shadow: 0 0 3px @workspaces-button-active-textshadow;
  background-color: @workspaces-button-active-background;
}

#workspaces button.urgent {
  color: @workspaces-button-urgent-color;
  text-shadow: 0 0 3px @workspaces-button-urgent-textshadow;
  background-color: @workspaces-button-urgent-background;
}
